.playfair{
            font-family: 'Playfair Display', serif;
}
.whiteletter{
    color: white;
    font-size: 60px;
}   
.left {
    float: left ;
    width: 50% ;
}
.right {
    float: left;
    width: 50%;
}
.img1{
    background-image: url(../img/Ceramics/IMG_8406.JPG); 
    background-size: cover;
    background-position: center;
    height:830px;
    z-index: -1;
}
.whiteOver{
    background-color: hsla(0, 0%, 100%,0.1);
    z-index: 2;
    height: 830px;
}

/**For Sticky NavBar **/
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0; z-index:1;
    width: 100%;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/** End of Sticky NavBar **/
/**                      **/
/**                      **/
.typewriterBox{
    border: .15em solid orange;
    height:150px; 
    width:700px;
    display: block;
}
.typewriterBox p{
    font-size:70px; color:white;
    transform: translate(0px,-50px);
}

.galleryTitle{
    margin: 0px; font-size: 3em; font-weight: bold;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin-bottom: 100px;
}
.row1{
    margin: 0px 150px;
    height: 700px;
}
/* Beehive Section*/
.beehiveColumn{

}
.beehiveFigure{
    margin: 0px;
}
.beehiveTitle{
    font-family: 'Open Sans', sans-serif; font-size: 2rem;
}
.beehiveImg{
    cursor: pointer;
    height: 470px;
    width: 362px;

}
.circularButton{
    border-radius: 100%;
    background-color: hsla(0, 0%, 78%,0.7);/* Green */
    cursor: pointer;
    padding: 5px;
    border: none;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 600px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* End of Beehive Section*/

/* Start of Red Bowl Section */
.redBowlColumn{
    transform: translate(0px, 100px);
}
.redBowlColumn figure{
    margin: 0px;
}
.drippingBowlTitle{
    font-family: 'Open Sans', sans-serif; font-size: 2rem;
}
.drippingRedBowl{
    height: 270px;
    width: 362px;
    cursor: pointer;
}
.drippingRedBowl2{
    height: 270px;
    width: 362px;
    cursor: pointer;
}
.modalBowl{
    height: 270px;
    width: 362px;
}
/* End of Red Bowl Section*/

/*Start of Green Container Section*/
.earthenwareVaseColumn{
   margin: 0px;
}
.earthenwareVaseFigure{
    margin: 0px;
}
.earthwareVaseTitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
.earthenwareVase{
    height: 470px;
    width: 362px;
    cursor: pointer;
}
.earthenwareVase2{
    height: 470px;
    width: 362px; cursor: pointer;
}
.earthenwareVaseModal{
    height: 470px;
    width: 362px;
}

/* End of Green Container Section */
.column {
  float: left;
  width: 33.33%;
}




        @media only screen and (min-width: 375px) and (max-width: 767px){
            .img1{
               
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            /* DEMO-SPECIFIC STYLES */
            .typewriterBox{
                border: .15em solid orange;
                height:150px; 
                width:250px;
                display: block;
            }
            .typewriterBox p{
                font-size:50px; color:white;
                transform: translate(0px,-50px);
            }
            /* END OF TYPE WRITER EFFECT */
            /**For Sticky NavBar **/
            .topnav {
                overflow: hidden;
                background-color: #333;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1;
            }
            .topnav a.active {
              background-color: #333;
              color: white;
              display:none;
            }
            .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
                float: right;
                display: block;
            }
            .topnav.responsive {position: fixed;}
            .topnav.responsive .icon {
                position: fixed;
                right: 0;
                top: 0;
            }
            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
          
            /** End of Sticky NavBar **/
            .column{
                width: 100%;
            }
            .ceramicTitle h5{
                font-size: .83em
            }
            .secondTitle{
                font-size: 1.2em;
            }
            .row1{
                margin: 0px;
                height: 1700px;
                
            }
            .galleryTitle{
                font-size: 2.2rem;     
            }
            .beehiveColumn{
                margin-bottom: 20px;
            }
            .beehiveFigure{
                width: 100%;
            }
            .beehiveImg{
                height: 320px;
                width: 212px;
            }
            .redBowlColumn{
                margin-bottom: 20px;
            }
            .drippingRedBowl{
                height: 250px;
                width: 302px;
            }
            .drippingRedBowl2{
                height: 250px;
                width: 302px;
                
            }
            .redBowlColumn{
                transform: translate(0px, 0px);
                margin-bottom: 20px;
            }
            .modalBowl{
                height: 150px;
                width: 202px;
            }
            .earthenwareVaseColumn{
                margin-bottom: 20px;
            }
            .earthenwareVase{
                height: 320px;
                width: 212px;
            }
            .earthenwareVase2{
                height: 320px;
                width: 212px;
            }
            .earthenwareVaseModal{
                height: 270px;
                width: 162px;
            }
        }