.playfair{
            font-family: 'Playfair Display', serif;
}
.whiteletter{
    color: white;
    font-size: 60px;
}   
.left {
    float: left ;
    width: 50% ;
}
.right {
    float: left;
    width: 50%;
}
.img1{
    background-image: url(../img/Ceramics/IMG_8406.JPG); 
    background-size: cover;
    background-position: center;
    height:830px;
    z-index: -1;
}
.whiteOver{
    background-color: hsla(0, 0%, 100%,0.1);
    z-index: 2;
    height: 830px;
}

/**For Sticky NavBar **/
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0; z-index:1;
    width: 100%;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/** End of Sticky NavBar **/
/**                      **/
/**                      **/
.typewriterBox{
    border: .15em solid orange;
    height:150px; 
    width:700px;
    display: block;
}
.typewriterBox p{
    font-size:70px; color:white;
    transform: translate(0px,-50px);
}

.galleryTitle{
    margin: 0px; font-size: 3em; font-weight: bold;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin-bottom: 100px;
}
.row1{
    margin: 0px 150px;
    height: 700px;
}
.row2{
    margin: 0px 150px;
    height: 700px;
}
/* Beehive Section*/
.beehiveColumn{

}
.beehiveFigure{
    margin: 0px;
}
.beehiveTitle{
    font-family: 'Open Sans', sans-serif; font-size: 2rem;
}
.beehiveImg{
    cursor: pointer;
    height: 470px;
    width: 362px;
}
.beehiveTitle2{
    font-size: 2.5rem;
    text-align: center;
}
.beehiveLeft{
    float: left;
    width: 50%;
    display: inline;
}
.beehiveMiddle{
    margin-bottom: 0px;
}
#beehiveFig1{
    display: inline;

}
#beehiveFig2{
    width: 250px;
}
.beehiveImg2{
    height: 320px;
    width: 212px;
    display: block;
    transform: translate(350px,0px);
}
.beehiveImg3{
    height: 320px;
    width: 212px;
    transform: translate(20px,0px); 
}
.beehiveDescription{
    font-size: 1.2rem;
    text-indent: 50px;
    transform: translate(0px,20px);
}
.circularButton{
    border-radius: 100%;
    background-color: hsla(0, 0%, 78%,0.7);/* Green */
    cursor: pointer;
    padding: 5px;
    border: none;
}
/* End of Beehive Section*/

/* Start of Red Bowl Section */
.redBowlColumn{
    transform: translate(0px, 100px);
}
.redBowlColumn figure{
    margin: 0px;
}
.drippingBowlTitle{
    font-family: 'Open Sans', sans-serif; font-size: 2rem;
}
.drippingRedBowl{
    height: 270px;
    width: 362px;
    cursor: pointer;
}
.drippingRedBowl2{
    height: 270px;
    width: 362px;
    cursor: pointer;
}
.modalBowl{
    height: 270px;
    width: 362px;
}
/* End of Red Bowl Section*/

/*Start of Green Container Section*/
.earthenwareVaseColumn{
   margin: 0px;
}
.earthenwareVaseFigure{
    margin: 0px;
}
.earthwareVaseTitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
.earthenwareVase{
    height: 470px;
    width: 362px;
    cursor: pointer;
}
.earthenwareVase2{
    height: 470px;
    width: 362px; cursor: pointer;
}
.earthenwareVaseModal{
    height: 470px;
    width: 362px;
}

/* End of Green Container Section */
.greenMarbleColumn{
   margin: 0px;
}
.greenMarbleFigure{
    margin: 0px;
}
.greenMarbleTitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
.greenMarbleVase{
    height: 470px;
    width: 362px;
    cursor: pointer;
}
.greenMarbleVase2{
    height: 470px;
    width: 362px; cursor: pointer;
}
.greenMarbleModal{
    height: 470px;
    width: 362px;
}
/* End of Green Marble Vase */
/* Start of Swirl Bowl */
.swirlBowlColumn{
    transform: translate(0px, 100px);
}
.swirlBowlFigure{
    margin: 0px;
}
.swirlBowlTitle{
    font-family: 'Open Sans', sans-serif; font-size: 2rem;
}
.swirlBowl{
    height: 270px;
    width: 362px;
    cursor: pointer;
}
.swirlBowl2{
    height: 270px;
    width: 362px;
    cursor: pointer;
}
.swirlBowlModal{
    height: 270px;
    width: 362px;
}







.column {
  float: left;
  width: 33.33%;
}
.footer{
    background-color: #333;
    height: 150px;
    font-color: white;
}
/* IMAGE MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 600px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* End of Image Modal */
.footer .fa{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;

}
.fa-linkedin {
  background: #333;
  color: white;
}
.fa-instagram {
  background: #333;
  color: white;
}
.etsyLogo{
    color: white;
}
.footer div{
    text-align: center;
    display: block;
}
.footer p{
    font-size: 25px;
    color: white;
    margin-bottom: -5px;
}
        @media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
            .img1{
               
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            /* DEMO-SPECIFIC STYLES */
            .typewriterBox{
                border: .15em solid orange;
                height:150px; 
                width:250px;
                display: block;
            }
            .typewriterBox p{
                font-size:50px; color:white;
                transform: translate(0px,-50px);
            }
            /* END OF TYPE WRITER EFFECT */
            /**For Sticky NavBar **/
            .topnav {
                overflow: hidden;
                background-color: #333;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1;
            }
            .topnav a.active {
              background-color: #333;
              color: white;
              display:none;
            }
            .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
                float: right;
                display: block;
            }
            .topnav.responsive {position: fixed;}
            .topnav.responsive .icon {
                position: fixed;
                right: 0;
                top: 0;
            }
            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
          
            /** End of Sticky NavBar **/
            .column{
                width: 100%;
            }
            .ceramicTitle h5{
                font-size: .83em
            }
            .secondTitle{
                font-size: 1.2em;
            }
            .row1{
                margin: 0px;
                height: 1400px;
            }
            .row2{
                margin: 0px;
                height: 1400px;
            }
            .galleryTitle{
                font-size: 2.2rem;     
            }
            .beehiveColumn{
                margin-bottom: 20px;
                
            }
            .beehiveFigure{
                width: 100%;
            }
            .beehiveImg{
                height: 320px;
                width: 212px;
            }
            .beehiveImg2{
                height: 270px;
                width: 162px;
                transform: translate(0px,0px);
                margin-left: auto;
                margin-right: auto;
            }
            .beehiveImg3{
                height: 270px;
                width: 162px;
                display: none;
                transform: translate(0px,0px);
            }
            .beehiveLeft{
                float: none;
                width: 100%;
            }
            .beehiveDescription{
                width: 300px;
                transform: translate(0px,0px);  
            }

            .redBowlColumn{
                margin-bottom: 20px;
                transform: translate(0px, 0px);
            }
            .drippingRedBowl{
                height: 250px;
                width: 302px;
            }
            .drippingRedBowl2{
                height: 250px;
                width: 302px;
                
            }
            .modalBowl{
                height: 150px;
                width: 202px;
            }
            .earthenwareVaseColumn{
               margin-bottom: 20px;
            }
            .earthenwareVase{
                height: 320px;
                width: 212px;
            }
            .earthenwareVase2{
                height: 320px;
                width: 212px;
            }
            .earthenwareVaseModal{
                height: 270px;
                width: 162px;
            }
            /* Green Marble Vase*/
            .greenMarbleColumn{
               margin-bottom: 20px;
            }
            .greenMarbleVase{
                height: 345px;
                width: 237px;
            }
            .greenMarbleVase2{
                height: 345px;
                width: 237px;
            }
            .greenMarbleModal{
                height: 270px;
                width: 162px;
            }
            /* Swirl Bowl */
            .swirlBowlColumn{
                margin-bottom: 20px;
                transform: translate(0px, 0px);
            }
            .swirlBowl{
                height: 250px;
                width: 302px;
            }
            .swirlBowl2{
                height: 250px;
                width: 302px;
                
            }
            .swirlBowlModal{
                height: 150px;
                width: 202px;
            }
            .modal{
                padding-top: 48px;
            }
            .modal-content{
                height: 550px;
            }
            .footer p{
                font-size: 20px;
                margin: 0px;
            }
        }



        @media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3){
            .img1{
               
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            /* DEMO-SPECIFIC STYLES */
            .typewriterBox{
                border: .15em solid orange;
                height:150px; 
                width:250px;
                display: block;
            }
            .typewriterBox p{
                font-size:50px; color:white;
                transform: translate(0px,-50px);
            }
            /* END OF TYPE WRITER EFFECT */
            /**For Sticky NavBar **/
            .topnav {
                overflow: hidden;
                background-color: #333;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1;
            }
            .topnav a.active {
              background-color: #333;
              color: white;
              display:none;
            }
            .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
                float: right;
                display: block;
            }
            .topnav.responsive {position: fixed;}
            .topnav.responsive .icon {
                position: fixed;
                right: 0;
                top: 0;
            }
            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
          
            /** End of Sticky NavBar **/
            .column{
                width: 100%;
            }
            .ceramicTitle h5{
                font-size: .83em
            }
            .secondTitle{
                font-size: 1.2em;
            }
            .row1{
                margin: 0px;
                height: 1400px;
            }
            .row2{
                margin: 0px;
                height: 1400px;
            }
            .galleryTitle{
                font-size: 2.2rem;     
            }
            .beehiveColumn{
                margin-bottom: 20px;
            }
            .beehiveFigure{
                width: 100%;
            }
            .beehiveImg{
                height: 320px;
                width: 212px;
            }
            .beehiveLeft figure{
                margin: 0px;
            }
            .beehiveLeft{
                align-content: center;
            }
            .beehiveImg2{
                height: 270px;
                width: 162px;
            }
            .beehiveImg3{
                height: 270px;
                width: 162px;
                display: none;
            }
            .redBowlColumn{
                margin-bottom: 20px;
                transform: translate(0px, 0px);
                margin-bottom: 20px;
            }
            .drippingRedBowl{
                height: 250px;
                width: 302px;
            }
            .drippingRedBowl2{
                height: 250px;
                width: 302px;
                
            }
            .modalBowl{
                height: 150px;
                width: 202px;
            }
            .earthenwareVaseColumn{
                margin-bottom: 20px;
            }
            .earthenwareVase{
                height: 320px;
                width: 212px;
            }
            .earthenwareVase2{
                height: 320px;
                width: 212px;
            }
            .earthenwareVaseModal{
                height: 270px;
                width: 162px;
            }
            /* Green Marble Vase*/
            .greenMarbleColumn{
               margin-bottom: 20px;
            }
            .greenMarbleVase{
                height: 320px;
                width: 212px;
            }
            .greenMarbleVase2{
                height: 320px;
                width: 212px;
            }
            .greenMarbleModal{
                height: 270px;
                width: 162px;
            }
            /* Swirl Bowl */
            .swirlBowlColumn{
                margin-bottom: 20px;
                transform: translate(0px, 0px);
            }
            .swirlBowl{
                height: 250px;
                width: 302px;
            }
            .swirlBowl2{
                height: 250px;
                width: 302px;
                
            }
            .swirlBowlModal{
                height: 150px;
                width: 202px;
            }
            .modal-content{
                height: 700px;
            }
            .footer p{
                font-size: 20px;
                margin: 0px;
            }
        }









