/** For iPhone X and 8 Plus **/
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 2) {
    
    .topImg{
        background-size: 200% 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: none;


    }





}