/** For iPhone 6,7,8 Plus and iPhoneX size**/
@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3){
    .topImg{
        background-size: 200% 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: none;
    }
    .about-row{
        padding-left:0px;
    }
    .aboutMe{
        background-color: hsla(203, 25%, 70%,0.4);
        height:770px; 
        margin: 10px;
        border: 1px solid hsla(355, 100%, 78%, .9);
    }
    .aboutTitle{
        font-size: 2.5rem;
        border: 2px solid black;border-radius: 10px;
        margin: 0px; padding:0px;
        width: 200px;
        
    }
    .aboutDescription{
        font-size: 1.3rem; font-weight: normal; margin-top: -10px;
        padding: 0px 20px; line-height: 1.5;
    }
    .markPuebla{
        height:400px; width: 280px;
        border: 3px solid black; border-radius: 6px;
        margin-left:0px;padding: 0px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .education{
        background-color: white;
        height: 850px;
        padding: 20px;
        margin: 10px;
        border: 1px solid hsla(355, 100%, 78%, .9);
    }
    .education h1{
        font-size: 2.5rem;
        display: block;
    }
    .educationTitle{
        border: 2px solid black;border-radius: 10px;
        width: 275px;
    }
    .education h4{
        font-size:1.3rem;
        margin-top: -25px;
        font-weight: normal;
        display: inline-block ;
        line-height: 1.5;
    }
    .eduRight h5{
        font-size: 1.5rem;
    }
    .columbiaLogo{
        height: 250px; width: 250px;
        margin-top: -30px;
    }
    /** For the Skills section**/
    .skillsDiv{
        background-color: #EBEBE1;
        height: 500px;
        margin: 10px;
        border: 1px solid hsla(355, 100%, 78%, .9);
        
    }
    .skillsTitle{
        border: 2px solid black; border-radius: 10px;  
        width: 150px; height: 20px; margin-top: 10px;
    }
    .skillsTitle h1{
        font-size: 18px;
        margin: 0px;
    }
    .skillsList li{
        list-style-image: url('https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg');
        font-size: 60px;
        float: left;
    }
    .skillsList span{
        font-size: 25px;
        margin-right: 100px;

    }
    /* End of Skills Section*/

    /* DEMO-SPECIFIC STYLES */
    .typewriter h1 {
        width: auto;
        display: inline-block;
        color: white;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
        font-size: 20px;
        
    }
    .typeWriterBorder{
        transform: translate(0px,50px); 
         
    }
    .typeWriterBorder h1{
        font-size: 27px;
        display: block;
    }    
    /* END OF TYPE WRITER EFFECT */
    /**For Sticky NavBar **/
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .topnav a.active {
      background-color: #333;
      color: white;
      display:none;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: fixed;
    }
    .topnav.responsive .icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
  
    /** End of Sticky NavBar **/
    .left {
        float: left ;
        width: 100% ;
    }
    .right {
        float: left;
        width: 100%;
    }




