.margin0 {
	margin-left:0px;
}
.blackbackground{
	background-color:black;
}
.pantone292background{
	background-color:#62A8E5;
	padding: 20px;
}
.whiteletter{
	font-color: #ffffff ;
}
.font-class{
	font-size: 100px;
}
.centerimg{
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 20%;
}
.column {
  float: left;
  width: 50%;
}
#ceramicimg{
	width: 400px;
	height:350px;

}
#pythonimg{
	width:400px;
	height:350px;
}
.h1{
	margin-left: 20px;
}
.Cinzel{
	font-family: 'Cinzel', serif;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.cropped1 {
	margin: 0px;
    width: 100%; /* width of container */
    height:800px; /* height of container */
    object-fit: cover;
    border: 2px solid black;
    background: url(../img/Me/Mark_in_Puebla.jpg) no-repeat center center fixed;

}



.bluebackground{
	background-color: #33F6FF;
}

.totheleft{
	margin-left:0px;
}

#navbar {
	overflow: hidden;
	background-color:#62A8E5;
}
#navbar a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover {
	background-color: #ddd;
	color: black;
}

#navbar a.active {
	color: white;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;

}

.sticky + .content{
	padding-top: 60px;
}

.border{
	border-width: 2px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }